@import url("https://use.typekit.net/fxb2ofz.css");

body {
	/* Polka v2 from https://www.magicpattern.design/tools/css-backgrounds */
	background-color: bisque;
	opacity: 0.8;
	background-image: radial-gradient(#555 0.7000000000000001px, transparent
	0.7000000000000001px), radial-gradient(#555 0.7000000000000001px, bisque
	0.7000000000000001px);
	background-size: 28px 28px;
	background-position: 0 0,14px 14px;
}

div.c1, div.c2, div.c3, div.c4, div.c5, div.c12, div.c13, div.c14, div.c15,
div.c16, div.c18, div.c19, div.c2 ~ blockquote {
	font-family: droid-sans, helvetica, arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: auto;
	width: 35%;
	padding: 0.5em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	border-left: 1em solid black;
	border-right: 1em solid black;
	color: #555;
	background-color: #fff;
}

blockquote div.c2 {
	font-variant: small-caps;
	border-right: 0;
	border-left: 0.5em solid #555;
	padding-top: 0;
	padding-bottom: 0;
}

div.c1, div.c12 {
	text-align: center;
	margin-top: 2.5%;
	font-weight: 700;
	border-top: 1em solid black;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
}

div.c5, body > div.c2:last-child {
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-left: 1em solid black;
	border-bottom: 1em solid black;
}

div.c5, div.c12, div.c14, div.c15 {
	text-align: center;
	font-family: droid-sans-mono, monospace;
	font-weight: 700;
}

h1, h3, h2.no-break, h5 {
	text-align: center;
	font-family: baker-signet-web, serif;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	padding: 0;
}

h1 { font-size: 8em; }

h3, h2.no-break { font-size: 4.5em; }

img {
	display: block;
	margin-top: 2em;
	margin-right: auto;
	margin-left: auto;
	width: 25%;
	border: 0.75em solid;
	border-image: linear-gradient(45deg, darkgrey, goldenrod) 1;
}

h5 {
	font-size: 2em;
	margin-bottom: 0.75em;
}

h5 a:link { color: black; }

h5 a:hover { color: goldenrod; }

div.chapter {
	text-align: center;
}

h2 ~ p {
	text-align: left;
	margin: auto;
	width: 70%;
	background-color: bisque;
	font-size: 1.5em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

table, hr + h2 {
	margin-left: 15%;
	font-size: 1.5em;
}
